html,body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    
}
/* Slider1 */
.mainDisc h1,p {
    animation: fade-in 2s ease-in-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Slide2 */
  #slider2 h2 span::before{
    content: '';
    color: #aa3939;
    animation: profile 5s infinite;
  }
  @keyframes profile {
    0% { content: 'emeklerimiz'}
    50% { content: 'çabalarımız'}
    100% { content: 'uğraşlarımız'}
  }
  .custom-background {
    background-image: url('../images/background-images/aaa4.jpg');
  